.about-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    line-height: 1.5; 

}

.about-wrapper {
    margin: 10vh;
    height: 80vh;
}

.about-side > h1 {
    font-size: 300%;
    margin: 5vh;
}


.about-pt1 , .about-pt2 {
    height: 40vh;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;
}

.about-pt1-text , .about-pt2-text {
   width: 30vw; 
   margin-top: 2vh;
}

.about-pt1-text > h2 , .about-pt2-text > h2 {
    margin-bottom: 2vw;
    font-size: 150%;
}

.about-pt1-text > p {
    margin-bottom: 5vh;
}

.about-pt1 > img , .about-pt2 > img {
    width: 300px;
    height: 350px;
    border-radius: 6px;
    margin-left: 10vw;
    margin-bottom: 10vh;
}

