@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
  background-color: #C4C4C4; 
  margin: 0;
  padding: 0;
  }

.landing {
  position: absolute;
  height: 100%;
  width: 100%;
  color: #101010;
  overflow: hidden;
  /*
  background: url(../fav2.jpeg) left bottom no-repeat, url(../fav4.jpeg) left center no-repeat, url(../fav3.jpeg) left top no-repeat;
  background-size: 67vh;
  */
  display: flex;
  justify-content: flex-start;
  opacity: 0.7;
  z-index: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 30%;
  font-size: 300%;
  text-align: left;
  background: transparent;
  padding-top: 5%;
}

.header > h1 {
  background: transparent;
}
.header > h2 {
  font-size: 65%;
  background: transparent;
  padding-left: 1%;
}

.content { 
  font-family: 'Krona One', sans-serif;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: transparent;
}

.text{
  height: 100vh;
  width: 30%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  text-align: center;
  background: transparent;
  padding: 10%;
}

.link {
  width: 20%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  }

.background {
  z-index: 0;
  min-height: 100vh;
  min-width: 34vw;
  right: 55vw;
  display: flex;
  flex-direction: column;
  opacity: 0.7;
  justify-content: flex-start;

}

