
* {
  background-color: #f5f5f5; 
  /*  font-family: 'Krona One', sans-serif; */
  padding: 0;
  margin: 0;
  }

.landing {
  position: absolute;
  height: 100%;
  width: 100%;
  color: #101010;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  opacity: 0.7;
  z-index: 0;
}

.content { 
  width: 100vw;
  height: 100vh;
  background: transparent;
  font-family: 'Krona One', sans-serif;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  background: transparent;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 55vw;
  height: 30vh;
  font-size: 350%;
  text-align: left;
  background: transparent;
  padding-top: 5%;
  padding-left: 2vw;
  z-index: 2;
}

.header > h1 {
  background: transparent;
  margin: 1vh;
  z-index: 2;
}
.header > h2 {
  font-size: 60%;
  background: transparent;
  padding-left: 1%;
  margin: 1vh;
}

.text{
  background: transparent;
  height: 100vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  padding-top: 10vw;
  font-size: 120%;
}

.text > p {
  text-align: center;
  background: transparent;
  padding: 10%;
  padding-left: 15%;
  padding-right: 15%;
}

.link > a {
  width: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-radius: 5%;
  text-decoration: none;
  color: inherit;
  }

.background {
  z-index: 0;
  min-height: 100vh;
  min-width: 34vw;
  right: 55vw;
  display: flex;
  flex-direction: column;
  opacity: 0.7;
  justify-content: flex-start;

}

.background > img {
  min-height: 34vh;
  max-width: 33vw;
}

#disclaimer {
  font-size: 70%;
}
