@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Share+Tech+Mono&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: 'Share Tech Mono', monospace;
  background-color: #f5f5f5;
  }

  #root{
    height: 100vh;
  }

* > button:hover {
  background-color: #4B0082;
  color: #f5f5f5;
  border-color: #101010;
  transition-duration: 0.4s;
  }

* > a {
  color: #101010;
  }

* > a:hover {
  background-color: #4B0082;
  color: #f5f5f5;
  border-color: #101010;
  border-radius: 6px;
  transition-duration: 0.4s;
  }

