@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Share+Tech+Mono&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: 'Share Tech Mono', monospace;
  }

  #root{
    height: 100vh;
  }
